.container-info{
  background-color: rgba(105, 105, 105, 0.5);
}
.inform{
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid white;
}
.img_heroes{
  margin-top: 5px;
}
.gifka, .video_content {
display:block;
margin: 5px;
}
.gifka h5, .interes h3, .container-info h2, .video_content h5{
  color: #F0FFFF;
}
.persons0 img{
	border-radius: 4%;
}
.persons0 h3, h5{
	color: #fff;
}
.hr_c{
  margin-left: 20px;
  margin-right: 20px;
}
.img-inform-left{
	height: auto;
	margin-left: 10px;
	margin-bottom: 10px;
}

.inform-text-left{
	width: 100%;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.video_content video{
	width: 100%;
	height: 100%;
}
@media (max-width: 1200px){
	.video_content video{
	width: 55%;
	height: 100%;
}
}
@media (max-width: 990px){
	.video_content video{
	width: 70%;
	height: 100%;
}
}
@media (max-width: 600px){
	.video_content video{
	width: 90%;
	height: 100%;
}
}
@media (max-width: 500px){
	.video_content video{
	width: 100%;
	height: 100%;
}
	.persons img{
	width: 35%;
}
}